# Common patterns
node_modules/
vendor/
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Project specific
/backend/database/*.sqlite
/backend/storage/*.key
/backend/public/storage
/backend/public/hot
/backend/public/build
/frontend/farmacia-vue/dist/
/frontend/farmacia-vue/dist-ssr/

# Security
auth.json
.phpunit.result.cache
